# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore compiled class files
out/
*.class

# Ignore macOS system files (optional)
.DS_Store

# Ignore Windows system files (optional)
Thumbs.db
desktop.ini

# Ignore Git internal directory (for safety, although it's never committed)
.git/
